<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <Bundle Name="PEI Site App"
          Version="1.1.0"
          Manufacturer="PEI Data Systems"
          UpgradeCode="a7f31d82-5c4e-4b19-8f62-1d0e9c3a74b5"
          IconSourceFile="..\..\service-dotnet\PeiSiteApp\Resources\icon.ico">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="License.rtf"
        SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage Id="PeiSiteApp"
                  SourceFile="$(var.MsiFile)"
                  DisplayInternalUI="yes" />
    </Chain>

  </Bundle>
</Wix>
