<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="!(bind.Property.ProductName)"
           Language="1033"
           Version="!(bind.Property.ProductVersion)"
           Manufacturer="!(bind.Property.Manufacturer)"
           UpgradeCode="da5fa0fa-9d02-4ec6-9bc2-3477b548f27e">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Description="!(bind.Property.ProductName) Installer" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Custom properties to store user input -->
    <Property Id="TENANT_ID" Secure="yes">
      <RegistrySearch Id="TenantIdSearch"
                     Root="HKLM"
                     Key="Software\PEI Data Systems\[ProductName]"
                     Name="TenantId"
                     Type="raw" />
    </Property>

    <Property Id="SITE_ID" Secure="yes">
      <RegistrySearch Id="SiteIdSearch"
                     Root="HKLM"
                     Key="Software\PEI Data Systems\[ProductName]"
                     Name="SiteId"
                     Type="raw" />
    </Property>

    <!-- Property to control startup with Windows (default to yes) -->
    <Property Id="START_WITH_WINDOWS" Value="1" />

    <!-- UI Configuration -->
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />

    <!-- Custom UI -->
    <UI>
      <!-- Use the built-in install directory dialog -->
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <!-- Custom dialog for configuration -->
      <Dialog Id="ConfigurationDlg" Width="370" Height="270" Title="[ProductName] Configuration">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="300" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Application Configuration</Text>
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="320" Height="30" Transparent="yes" NoPrefix="yes">
          <Text>Please enter your Tenant ID and Site ID. These values will be used to configure the application.</Text>
        </Control>

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

        <!-- Tenant ID Input -->
        <Control Id="TenantIdLabel" Type="Text" X="20" Y="70" Width="100" Height="15" TabSkip="no">
          <Text>&amp;Tenant ID:</Text>
        </Control>
        <Control Id="TenantIdEdit" Type="Edit" X="20" Y="85" Width="330" Height="18" Property="TENANT_ID" />

        <!-- Site ID Input -->
        <Control Id="SiteIdLabel" Type="Text" X="20" Y="115" Width="100" Height="15" TabSkip="no">
          <Text>&amp;Site ID:</Text>
        </Control>
        <Control Id="SiteIdEdit" Type="Edit" X="20" Y="130" Width="330" Height="18" Property="SITE_ID" />

        <!-- Start with Windows Checkbox -->
        <Control Id="StartWithWindowsCheckbox" Type="CheckBox" X="20" Y="160" Width="330" Height="17" Property="START_WITH_WINDOWS" CheckBoxValue="1">
          <Text>Start application automatically when Windows starts (recommended)</Text>
        </Control>

        <!-- Navigation buttons -->
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <!-- Insert custom dialog into the install sequence -->
      <InstallUISequence>
        <Show Dialog="ConfigurationDlg" After="InstallDirDlg">NOT Installed</Show>
      </InstallUISequence>
    </UI>

    <!-- Custom action to write registry values -->
    <CustomAction Id="WriteConfigToRegistry"
                  Directory="APPLICATIONFOLDER"
                  ExeCommand='cmd.exe /c "reg add "HKLM\Software\[Manufacturer]\[ProductName]" /v TenantId /t REG_SZ /d "[TENANT_ID]" /f &amp;&amp; reg add "HKLM\Software\[Manufacturer]\[ProductName]" /v SiteId /t REG_SZ /d "[SITE_ID]" /f"'
                  Execute="deferred"
                  Impersonate="no"
                  Return="check" />

    <InstallExecuteSequence>
      <Custom Action="WriteConfigToRegistry" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>

    <!-- Directory structure (will be populated by electron-wix-msi) -->
    {{#each directories}}
    {{this}}
    {{/each}}

    <!-- Components (will be populated by electron-wix-msi) -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="RegistryEntries" Guid="*">
        <RegistryKey Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Name="TenantId" Value="[TENANT_ID]" KeyPath="yes"/>
          <RegistryValue Type="string" Name="SiteId" Value="[SITE_ID]"/>
          <RegistryValue Type="string" Name="InstallPath" Value="[APPLICATIONFOLDER]"/>
        </RegistryKey>
      </Component>

      <!-- Component for Windows Startup - Conditional based on user choice -->
      <Component Id="StartupRegistryEntry" Guid="*">
        <Condition>START_WITH_WINDOWS = "1"</Condition>
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="string" Name="[ProductName]" Value="&quot;[APPLICATIONFOLDER]pei-site-app.exe&quot;" KeyPath="yes"/>
        </RegistryKey>
      </Component>

      {{#each components}}
      {{this}}
      {{/each}}
    </DirectoryRef>

    <!-- Program Menu shortcuts (will be populated by electron-wix-msi) -->
    {{#each shortcuts}}
    {{this}}
    {{/each}}

    <!-- Features -->
    <Feature Id="ProductFeature" Title="!(bind.Property.ProductName)" Level="1">
      <ComponentRef Id="RegistryEntries" />
      <ComponentRef Id="StartupRegistryEntry" />
      {{#each componentRefs}}
      {{this}}
      {{/each}}
    </Feature>
  </Product>
</Wix>
